<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">
           <div class="header__wrapper">
                <div class="header__logo">
                    <a href="main.html" class="header__logo-link">
                        <img src="/img/svg/gs-logo.svg" alt="main" class="header__logo-pic">
                    </a>
                </div>
`
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="@Url.Action("Index", "Projects")" class="header__link">Главная</a>
                        </li>
                        <li class="header__item">
                            <a href="@Url.Action("Index", "Projects")" class="header__link">Тарифы</a>
                        </li>
                        <li class="header__item">
                            <a href="@Url.Action("Index", "Projects")" class="header__link">Услуги</a>
                        </li>
                        <li class="header__item">
                            <a href="@Url.Action("Index", "Projects")" class="header__link">Профиль</a>
                        </li>
                        <li class="header__item">
                            <button class="header__button" type="submit" onclick="">Войти</button>
                        </li>             
                    </ul>
                </nav>
           </div>

        </div>
    </header>
    <main class="main">
        <section class="intro">
            <div class="wrapper">
                <h1 class="intro__title">
                    А ты звонил бабушке?
                </h1>
                <p class="intro__subtitle">
                    С нашимим качеством связи вы сможете дозвониться даже на тот свет!
                </p>
                <button class="intro__start" type="submit" onclick="">Начать</button>
            </div>
        </section>
        <section class="servises">
            <div class="servises__wrap">
                <h2 class="servises__title">
                    Услуги и тарифы
                </h2>
                <div class="servises__cards">
                    <div class="servises__card">
                        <div class="servises__card-pic">
                            <img src="/img/svg/family-icon.svg" alt="Для большой семьи" class="servises__card-thumb">
                        </div>
                        <h3 class="servises__card-title">
                            Для большой семьи
                        </h3>
                        <p class="servises__card-desc">
                            Получение безлимитных особенностей
                        </p>
                    </div>
                    <div class="servises__card">
                        <div class="servises__card-pic">
                            <img src="/img/svg/sofa-icon.svg" alt="Экономные" class="servises__card-thumb">
                        </div>
                        <h3 class="servises__card-title">
                            Экономные
                        </h3>
                        <p class="servises__card-desc">
                            Позволят настроить и сократить ваши расходы
                        </p>
                        <button class="servises__card-but">
                            Открыть список всех тарифов
                        </button>
                    </div>
                    <div class="servises__card">
                        <div class="servises__card-pic">
                            <img src="/img/svg/business-icon.svg" alt="Бизнес" class="servises__card-thumb">
                        </div>
                        <h3 class="servises__card-title">
                            Бизнес
                        </h3>
                        <p class="servises__card-desc">
                            Имеют свои особености и ппримущества использования для комерчиских целей
                        </p>
                    </div>
                </div>
            </div>
        </section>
 
        <section class="support">
            <div class="wrapper__full">
                <div class="sup__cards">
                    <div class="sup__card">
                        <h2 class="sup__title">
                            Хорошая техподдержка
                        </h2>
                        <p class="sup__text">
                            Наша техподдержка всегда рада ответить и помочь вам.
                            У нас более 50 сотрудников техподдержки, поэтому среднее время ожидания ответа менее 15 мин.
                        </p>
                        <div class="footer__card-pic">
                            <img src="/img/svg/niggers-icon.svg" alt="niigers" class="sup__card-thumb">
                        </div>
                    </div>
                    <div class="sup__card">
                        <div class="sup__image-container">
                            <img src="/img/scrin-icon.png" alt="info" class="sup__pic">
                            <button name="button__sup" class="sup__card-button" onclick="">Связаться</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="footer" >
        <div class="footer__cards">
            <div class="footer__card">
                <h2 class="footer__title">
                    Связаться с нами
                </h2>
                <p class="footer__text">
                    Если вы хотите обратиться к нам, то вы можете сделать это через почту, по номеру телефона или приехать. 
                    Также вы можете заполнить бланк и оставить своё сообщение
                </p>
                <div class="footer__card-pic">
                    <img src="/img/telephone-icon.png" alt="telephone" class="footer__card-thumb">
                </div>
            </div>
            <div class="footer__card">
                <div class="form-container">
                    <form id="myForm">
                        <div class="form-field">
                            <label class="form-label" for="name">Имя:</label>
                            <input class="form-input" type="text" id="name" name="name" required>
                        </div>
                        <div class="form-field">
                            <label class="form-label" for="email">Почта:</label>
                            <input class="form-input" type="email" id="email" name="email" required>
                        </div>
                        <div class="form-field">
                            <label class="form-label" for="phone">Номер телефона:</label>
                            <input class="form-input" type="tel" id="phone" name="phone" required>
                        </div>
                        <div class="form-field">
                            <label class="form-label" for="message">Текстовое сообщение:</label>
                            <textarea class="form-input" id="message" name="message" required></textarea>
                        </div>
                        <button class="form-submit" type="submit">Отправить</button>
                    </form>
                </div>
        </div>
    </section>
</main>

<script src="~/js/main.js"></script>
</body>
</html>